# use nix-shell for development environment if it is installed
if command -v nix-shell &> /dev/null; then
  use_nix
fi

# load extra environment variables
dotenv ./.env

# python3 based virtual environment
layout python3
